/* MEDIA QUERIES ******************************************************* */


@media screen and (min-width:480px) {

  /* MAIN *************************** */




  /* Project card */

  .project-card {
    width: 60%;
    height: 60vh;
  }


}







@media screen and (min-width:768px) {

  /*  MAIN ******************************************************* */


  /* Audiobook section, Restaurant section, Exhibit Section */

  #section-audiobook,
  #section-restaurant {

    background-size: contain;

  }



}



@media screen and (min-width:1280px) {



  /*  ROUND CURSOR ******************************************************* */


  #custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
  }


  body {
    cursor: none;
  }


  /*  PLAYGROUND ******************************************************* */


  #playground {
    background-image: url(../img/header_desktop.jpg);

  }


  /*  HEADER ******************************************************* */

  header {
    width: 35vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.9);
    color: #016e7a;
  }


  #title h1 {
    color: #016e7a;
  }



  #title #update {
    background-color: rgb(1, 110, 122, 0.5);
    color: white;
    font-weight: 600;
  }


  /* See my work */

  #icon-arrow-down {
    display: none;
  }

  #icon-arrow-right {
    display: block;
  }

  #icon-arrow-right i {
    font-size: 40px;
  }


  /* Menu */

  nav {
    display: none;
  }




  /* MAIN *************************** */


  main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    z-index: 1;
    color: #016e7a;
  }




  #vertical-line-1,
  #vertical-line-2 {
    display: none;
  }



  #horizontal-line-1 {
    width: 30vw;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);

  }


  #horizontal-line-2 {
    width: 30vw;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 170%;
    transform: translate(-50%, -50%);

  }


  h1 {
    margin: 0;
  }

  #under-header {
    display: block;
    min-width: 30vw;
    min-height: 100vh;
  }


  .section {
    min-width: 70vw;
    min-height: 100vh;

  }



  .section-container {
    width: 70%;
  }






  /* Project card */

  .project-card {
    width: 40%;
    height: 80vh;
  }




  .github-repo {
    width: 20vw;
  }


  /* About section */

  #about-me {
    min-width: 75%;
  }

  #about-me .section-container {
    width: 70%;
    padding: 40px;
  }


  /* Tech Stack section */

  #tech-stack .section-container {
    width: 80%;
  }

  .all-tech {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  /* *** */

  #tech-front {
    margin-top: 0;
    width: 33%;
  }

  #front-title {
    text-align: center;
  }

  #front-icons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  #front-icons div i {
    display: block;
    font-size: 40px;
    color: #016e7a;
  }

  /* *** */

  #tech-back {
    width: 33%;
  }

  #back-title {
    text-align: center;
  }


  #back-php,
  #back-js {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #back-php div,
  #back-js div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #back-php div img,
  #back-php div i,
  #back-js div img,
  #back-js div i {
    display: block;
  }

  #back-php div i,
  #back-js div i {
    font-size: 40px;
    color: #016e7a;
  }


  #icon-symfony {
    width: 30%;

  }

  #icon-express {
    width: 35%;
  }

  /* *** */

  #tech-database {
    width: 33%;
  }

  #database-title {
    text-align: center;
  }

  #database-db,
  #database-orm {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #database-db div,
  #database-orm div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #database-db div img,
  #database-orm div img {
    display: block;
  }



  #icon-mysql,
  #icon-doctrine,
  #icon-postgresql,
  #icon-prisma {
    width: 30%;
  }


  /* *** */

  #tech-toools {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


  /* Contact section */


  #contact,
  #icon-github a {
    color: #016e7a;
  }

  #contact h2 {
    color: rgb(1, 110, 122, 0.5);
  }

  #icon-github a:hover {
    color: white;
  }


  * {
    cursor: none !important;
  }


}